body {
    background-color: #030303;
    font-family: 'Maven Pro', sans-serif;
    text-rendering: optimizeLegibility;
}

.wrapper {
    width: 300px;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 3px;
    color: #FFF
}

p {
    color: #fff;
}

.bold {
    font-weight: 700;
}

.txt-spaced {
    letter-spacing: 1px;
}

.line-wrapper {
    display: flex;
    justify-content: space-between;
}

.txt-sm {
    font-size: 10px;
    color: #aaaaaa;
}

.txt-important {
    color: #fff;
    font-weight: 800;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.btn-light {
    background-color: #fff;
}